header {
    color: white;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-bottom: 1px solid white;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > a.logo {
    font-size: 1.75rem;
    font-weight: 700;
}

nav > div > a {
    font-size: 1.25rem;
}

nav > div {
    display: flex;
    gap: 1rem;
}

nav > a, nav > div > a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

nav > a:hover, nav > div > a:hover {
    text-decoration: underline;
    text-underline-offset: 0.75rem;
}